*,
*::after,
*::before{
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100%;
}
.App-header,.App-footer{
  background-color: dimgrey;
  color: rgb(55, 127, 190);
  padding:20px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-content: space-around;
}
.App-header>div{
  padding:20px;
  background-color: rgb(152, 152, 204);
  color: antiquewhite;
  width: 100%;
}
.App-footer>div{
  padding:20px;
  background-color: rgb(152, 152, 204);
  color: antiquewhite;
  width: 100%;
}
.blogs{
  background-color: ivory;
  color:black;
  padding: 0px 30px;
  padding-top: 10px;
}
.blogs-list{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  padding: 10px 20px;
  grid-auto-flow: row;
}
.blogs-list>div{
  background-color: rgb(140, 192, 240);
}
.blogs-list-item{
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
  padding: 10px;
}
.form{
  padding:20px;
}
.form>input{
  padding:20px;
}