*,
*::after,
*::before{
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100%;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color:#fff;
  color: rgb(7, 8, 8);
  font-weight: bold;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}
.nav>div{
  flex: 30%;
}
.nav-content{
  background-color: deeppink;
  color: aquamarine;
}
.nav-layout{
  background-color: blueviolet;
  padding:10px;
}
.App-footer{
  background-color: rgb(0, 6, 20);
  color: antiquewhite;
  font-weight: bolder;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}
.App-footer>div{
  margin: auto;
}
.blogs{
  background-color: rgb(18, 94, 194);
  color:black;
  padding: 0px 30px;
  padding-top: 10px;
}
.blogs-list{
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 10px;
  padding: 10px 20px;
  grid-auto-flow: row;
}
@media only screen and (max-width:1100px){
  .blogs-list{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px 20px;
  grid-auto-flow: row;
}
}
@media only screen and (max-width:700px){
  .blogs-list{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px 20px;
  grid-auto-flow: row;
}
}
@media only screen and (max-width:400px){
  .blogs-list{
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  justify-items: center;
  padding: 10px 20px;
  grid-auto-flow: row;
}
}
.blogs-list>div{
  background-color: rgb(58, 147, 231);
}
.blogs-list-item{
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
  padding: 10px;
  border-radius: 5px;
}
.form{
  padding:20px;
  background-color: rgb(58, 147, 231);
  margin: 0px auto;
  width:50%;
  font-size: 1.4em;
}
@media only screen and (max-width:600px){
  .form{
  padding:20px;
  background-color: rgb(58, 147, 231);
  margin: 0px auto;
  width:auto;
}
}
.form>input{
  padding:20px;
}
.overlay{
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
}
.overlay-text{
 position: absolute;
 left:0;
 right:0;
 top: 0;
 max-height: 100%;
 background-color: blanchedalmond;
 color:black;
 padding: 5px;
 overflow-y: auto;
 transform:translateX(100%);
 transition: 0.5s ease-in-out;
}
.overlay:hover .overlay-text{
transform: translateX(0%);
}
input{
  margin: 5px;
}